/dts-v1/;

/ {
    model = "ALICE DCS board";
    compatible = "cern-alice,dcb-164";

    osc: oscillator {
        #clock-cells = <1>;
	clock-output-names = "clka", "clkb";
    };

    cpus {
        #address-cells = <1>;
	#size-cells = <0>;

	cpu@0 {
	    device_type = "cpu";
	    reg = <0x0>;
	    compatible = "arm,arm922t";
	};
    };

    memory {
        reg = <0x0 0x100>;
    };

    ebi@12000000 {
        compatible = "arm,external-bus-interface";
        reg = <0x12000000 0x100>;
    };
 
    serial@f00 {
        compatible = "vendor,some-uart";
        reg = <0xf00 0x10>;
    };

    chosen {
        stdout-path = "/serial@f00:57600";
    };

    // wdt

// I2C, GPIO, SCSN, ...
};
